.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.articleList {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 80rem;
}

.articleList h2 {
  margin-inline-start: 1.5rem;
}